html {
    cursor:default;
    /* justify-content: center;
    align-content: center; */
}

body {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    height: 100vh;
}

.clickableTitle {
    font-family: fantasy;
    font-size: 50px;
    width: 600px;
    display: flex;
    color: #64dfdf;
    justify-content: center;
    align-items: center;
    border: 2px solid #6930c3;
    padding: 6vh;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 50px, 0);
    }
}

.ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #80ffdb;
    border: 2px solid #6930c3;
    position: absolute;
    top: 40%;
    animation: bounce .5s cubic-bezier(.5, 0.05, 1, .5);
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.ball-center {
    left: 47.5%;
    transition: .5s;
}

.ball-coder {
    left: 42%;
    transition: .5s;
}

.ball-comedian {
    left: 57%;
    transition: .5s;
}

p {
    margin: 0;
}

/* @media screen and (max-width: 599px) {

} */
